/* font-family: 'Righteous', cursive;
 */
body{
    margin: 0;
    background: rgb(23, 26, 199);
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 110px;
    font-weight: 700;
    text-align: center;

    
    
}

main{
    width: 70%;
    margin:auto;
    margin-top: 200px;
    position: absolute;
    position: relative;

}
.water div {
    margin-top: 80px;
   height: 100vh;
   opacity: 0;
   position: absolute;
}

.water div:nth-child(1){
    animation-name: fade-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
   }
   .water div:nth-child(2){
    animation-name: fade-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 4s;
   }
   .water div:nth-child(3){
    animation-name: fade-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 6s;
   }.water div:nth-child(4){
    animation-name: fade-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 8s;
   }.water div:nth-child(5){
    animation-name: fade-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 10s;
   }.water div:nth-child(6){
    animation-name: fade-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 12s;
   }.water div:nth-child(7){
    animation-name: fade-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 14s;
   }.water div:nth-child(8){
    animation-name: fade-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 16s;
   }.water div:nth-child(9){
    animation-name: fade-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 18s;
   }.water div:nth-child(10){
    animation-name: fade-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 20s;
   }.water div:nth-child(11){
    animation-name: fade-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 22s;
   }.water div:nth-child(12){
    animation-name: fade-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 24s;
   }.water div:nth-child(13){
    animation-name: fade-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 26s;
   }.water div:nth-child(14){
    animation-name: fade-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 28s;
  }.water div:nth-child(15){
    animation-name: fade-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 30s;
  }.water div:nth-child(16){
    animation-duration: 500s;
    animation-fill-mode: forwards;
    animation-delay: 33s;
   
  }
   @keyframes fade-in-out {
       0% {
           opacity: 0;
           height: 100vh;
        }
       60% {
           opacity: 1;
        }
       100% {
           opacity: 0;
           height: 0vh;
        }
    }